@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
    --primary: #ff6633;
    --secondary: #333333;
    --ternary: #808080;

}



a.column {
    text-decoration: none;
    color: var(--ternary);
    text-transform: uppercase;
    font-size: 12px;
}

.intro h1 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    line-height: 48px;
    font-size: 38px;



}

.intro h2 {
    color: var(--ternary);
    font-size: 23px;
    padding: 0.8rem 0;

}

.intro-image {
    display: flex;
    padding-top: 1rem;
}

.intro-image img {
    border-radius: 50%;
}

.intro-image p {
    margin-left: 2%;
    color: var(--ternary);
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

p.name {
    color: var(--primary);
    cursor: pointer;
    font-weight: 500;
}

.blog-image img {
    padding-top: 1rem;
    padding-bottom: 0;
}

.social-icons a {
    text-decoration: none;
    text-decoration-style: none;
    color: var(--secondary);
}

i.fab.fa-facebook-square {
    font-size: 22px;
    cursor: pointer;
}

i.fab.fa-twitter {
    font-size: 22px;
    margin-left: 0.5rem;
    cursor: pointer;
}

i.fab.fa-linkedin {
    font-size: 22px;
    margin-left: 0.5rem;
    cursor: pointer;
}

.blog-image p {
    color: var(--ternary);
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}




/*############# Media Queries -1 ############*/

@media only screen and (max-width:700px) {

    .intro h1 {
        font-size: 25px;
        line-height: 36px;
        margin-bottom: -0.87em;

    }

    .intro h2 {
        line-height: 24px;
        margin-top: 0.79em;
        font-size: 18px;
        font-weight: 400;
    }



}

/*############# Media Queries -2 ############*/

@media only screen and (max-width:720px) {
    .intro h2 {
        margin-top: 0.87em;
    }


}
