.headerImg{
    margin-left:10%;width:80%; height:700px;
}

.imageModal{
    position: absolute;
           height:60%;
           width:40%;
           background-color:#ffffff;
          top: 20%;
          left: 13%;
          opacity: 0.9;
}

.imageModalButton{
    position: relative;
    top: 30px;
    left:30px;
}

.blogHeading{
    margin: 15px 0px;
    margin-top:40px;
    margin-right:10px;
    line-height: 1.6; 
    margin-left:30px;
}

.blogHeadLink{
    color:#212529;
}

.blogContent{
    font-size:1.6rem;
    margin-left:30px;
    line-height: 1.3
}


.blogButton {
    background-color: #00dfc6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 11px 26px;
    text-decoration: none;
    text-shadow: 0px 1px 0px;
    
}

.blogButton:hover {
    background-color: #00AC99;
    outline-style: none
}

.blogButton:active {
    position: relative;
    top: 1px;
    background-color: #00AC99;
}

.readMore{
    margin-left:30px;
    font-size: 1.2em;
    color: #f5ff41;
}

.vl {
    border-left: 6px solid green;
    height: 100px;
    margin-left:50%
  }

.blogLeftModal{
    height:400px;
    width:400px;
    margin-left:15%;
    margin-right:2%;
}  

.blogRightModal{
    height:400px;
    width:400px;
    margin-right:15%;
    margin-left:2%;
}

.blogButtonModal{
    position: relative;
    top: 15px;
}

.blogModalHeading{
    margin: 15px 0px;
    margin-top:30px;
    line-height: 1.3;
}

.blogModalHeadingLink{
    color:#212529;

}

.readMoreModal{
    font-size: 1.2em;
    color: #f5ff41;
}
